/output
/logs
/history
/utils

*.cfg
*.log
*.pyc
*.pyo
*.swp
*.vscode
*.vscode-test
*.vscode-test-results
*.vscode-test-results-summary
*.vscode-test-results-summary.json
*.vscode-test-results-summary.json.gz
*.vscode-test-results-summary.json.gz.bak
*.vscode-test-results-summary.json.gz.bak.bak
/.vscode

/__pycache__
/build
/dist
/docs
/node_modules

/target
/tests/__pycache__
*.exe
*.msi
teesst*
/.idea
*bak.py
*bak.cfg
.idea
