<html>
<head>
    <script>
        function refreshImage() {
            var imageElement = document.getElementById('image');
            imageElement.src = '/static/image.png?' + new Date().getTime();
        };

        document.addEventListener('DOMContentLoaded', function() {
            refreshImage();
            setInterval(refreshImage, 3000); // Refresh every 10 seconds
        });

    </script>
</head>
<body>

    <br>

    <img id="image" src="" alt="Generated Image">
</body>
</html>
